.header {
  width: 100%;
  background-image: url('../static/friends.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(55, 73, 100);
  color: #fff;
  height: 100vh;
  clip-path: polygon(100% 0, 100% 73%, 0 100%, 0 0);
  margin-top: -25px;
}