$primary-color: #ff00bf;

@mixin padding {
  padding: 20px 30px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: transparent;
  padding: 40px 0;
  display: grid;
  justify-items: center;

  .navbar__container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-items: center;
    align-items: center;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      align-items: center;
      justify-self: end;

      li {
        justify-self: center;
      }

      li .register {
        display: block;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 10px 30px;

        &:hover {
          background: $primary-color;
          color: #fff;
          border: 1px solid $primary-color;
        }
      }

      a:hover {
        color: $primary-color;
        display: block;
      }
    }
  }


  a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  img {
    width: 100px;
    height: auto
  }
}

@media screen and (max-width: 1028px) {
    
}