.offer-ride-form {
  padding-top: 30px; 
  display: grid; 
  justify-items: center;
}

/* .departuretime:before {
  content: "Departure Time";
}

.departuretime:active {
  content: "";
}

.datecreated:before {
  content: "Date Created"
} */