/* Base Syles ================================ */
:root {
  --red: #f50000;
  --blue: #0c6ebf;
  --dark-blue: #0c6ebf;
  --green: #06d19c;
  --dark-green: #09bb8c;
  --white: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(123, 125, 148);
  text-align: left;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(84, 84, 84);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* ========================================== End of Base Styles*/

/* Utility classes ========================*/
.text-center {
  text-align: center;
}

.lead {
  font-size: 1.2em;
  line-height: 1.5em;
}

.mt-1 {
  margin: 3em 0;
}

.pb-4 {
  padding-bottom: 4em;
}
/* End of utility classes ================================*/

/* Wrapper */
.wrapper {
  display: grid;
  border: 0;
}

/* top */
.top {
  display: grid;
  background: var(--blue);
  background: url("../images/drivers.jpg");
  background-position: bottom right;
  background-size: cover;
}

.features,
.about,
.intro {
  padding: 100px 100px;
}

.hero {
  min-height: 700px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero > * {
  text-shadow: #000 2px 2px 15px;
  color: white;
}

.hero h1 {
  font-size: 3.5em;
}

/* Logo =========================*/
.logo img {
  width: 100px;
  height: auto;
}

/* Navigation ========================================*/

.navbar {
  height: 60px;
  display: grid;
  align-items: center;
  background-color: rgb(25, 39, 57);
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  width: 100%;
  left: 0;
  top: 0;
  font-weight: 500;
}

.navbar ul {
  padding-left: 0px;
}

.box-shadow-none {
  box-shadow: none;
}

.navbar li.logo,
.navbar li.navbar_items {
  list-style-type: none;
  display: inline-block;
}

.navbar li a {
  font-size: 1em;
  color: #cccccc;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar ul {
  height: inherit;
  padding-top: 6px;
}

.navbar li.navbar_items a:hover {
  color: white;
}

.navbar li.icon {
  display: none;
}

.div_navbar_items {
  float: right;
  padding-right: 1%;
}

@media screen and (max-width: 800px) {
  .navbar li.navbar_items {
    display: none;
  }
  .navbar li.icon {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 2px;
  }

  .features,
  .about,
  .intro {
    padding: 20px 30px;
  }

  .hero h1 {
    font-size: 2.5em;
  }
  .hero h2 {
    font-size: 1.5em;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */

@media screen and (max-width: 800px) {
  .navbar.responsive {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    transition: background-color 0.6s;
  }

  .navbar.responsive li.logo {
    float: left;
    display: block;
  }
  .navbar.responsive .div_navbar_items {
    float: none;
    padding-right: 0;
  }

  .navbar.responsive li.navbar_items {
    display: block;
    padding: 50px;
    font-size: 25px;
  }
  .navbar.responsive li.navbar_items a {
    display: block;
    text-align: center;
    color: white;
  }

  .navbar.responsive li.navbar_items a:hover {
    color: var(--blue);
    border-bottom-color: transparent;
  }
}

/* Button styles ===============================*/
.btn {
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  border: 0;
  text-decoration: none;
  text-align: center;
  margin: 1rem 0;
  color: white;
  cursor: pointer;
}

/*Button Primary*/
.btn__primary {
  background: var(--blue);
  border-color: var(--blue);
}

.btn__primary:hover {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
}

/*Button Secondary*/
.btn__secondary {
  background: var(--green);
  border-color: var(--green);
}

.btn__secondary:hover {
  background: var(--dark-green);
  border-color: var(--dark-green);
}

/*Button Danger*/
.btn__danger {
  background: var(--red);
  border-color: var(--red);
}

/* Button default */
.btn__grey {
  color: #24292e;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.btn__grey:hover {
  color: #24292e;
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.btn__rounded {
  border-radius: 25px;
}

.btn__inline {
  display: inline-block;
}

.signup-btn, .signin-btn, .btn-ride {
  padding: 0.9rem 2rem;
}
/* End of button styles==================================== */

/* Intro */
.intro {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(minmax(500px, 1fr));
}

/* Features */
.features {
  display: grid;
  justify-items: center;
  background: #eeeeee;
}

.features-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  justify-items: center;
}

.feature {
  padding: 20px;
  background: white;
  border: 1px solid white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgb(225, 225, 225);
  display: grid;
  justify-items: center;
}

.feature-heading {
  grid-column: 1 / -1;
  justify-self: center;
}

.feature .icon {
  width: 140px;
  height: auto;
  margin-bottom: 20px;
}

/* About */
.about {
  display: grid;
  justify-items: center;
}

.about__details p {
  max-width: 500px;
  line-height: 1.8em;
}

/* Footer */
.footer {
  padding: 30px 0;
  text-align: center;
}
